
/.vagrant
/.idea
/.vscode
/build
/*/*.template*.json
**/html_docs

.DS_Store
*.dev.yml
*.generated.yml
coverage.out
.python-version
mage_output_file.go
etwbeat
run_main.exe

# Editor swap files
*.swp
*.swo
*.swn

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.exe
*.test
*.prof
*.pyc


# Folders
_obj
_test
coverage

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.out
*.log
*.bak
*.etwbeat.yml
_meta/*.dev.yml

cover/
/tests/system/env/
/tests/system/run/
/tests/system/last_run
profile.cov
/docs/html_docs
/logs
